.advantages {
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__item {
  background-color: $basic-blue;
  color: $basic-white;


  &--white {
    background-color: #ffffff;
    color: #000000;
    padding-left: 47px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 0;
      align-items: center;
      text-align: center;
    }
  }


  &--grey {
    background-color: #eeeeeeee;
    color: #000000;
    padding: 24px 18px 24px 18px;
  }
}

.advantages__item--first {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-area: 1/1/2/4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-width: 768px;
  }
}

.advantages__item--second {
  @media (min-width: $tablet-width) {
    grid-area: 2/1/3/4;
    display: flex;
    flex-direction: row-reverse;
    min-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
  }
}

.advantages__module {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  min-width: 240px;
  margin: 0 auto;
  background-color: #ffffff;
}

.advantages__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.advantages__item-wrapper {
  width: 320px;
  padding: 39px 16px 35px 15px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}


.advantages__title {
  margin: 0;
  font-family: $accent-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  position: relative;

  &--icon-house::after {
    content: url("../../img/icon-house-mob.svg");
    position: absolute;
    top: 1px;
    left: -52px;
  }

  &--icon-burger::after {
    content: url("../../img/icon-burger-mob.svg.svg");
    position: absolute;
    top: 2px;
    left: -52px;
  }

  &--icon-gift::after {
    position: absolute;
    content: url("../../img/icon-gift-mob.svg");
    top: 1px;
    left: -48px;

    @media (min-width: $tablet-width) {
      content: url("../../img/icon-gift-tabl.svg");
    }

    @media (min-width: $desktop-width) {
      content: url("../../img/icon-gift-desk.svg");
    }
  }
}

.advantages__number,
.advantages__description {
  margin: 0;
  font-family: $accent-font;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.advantages__sublist {
  background-color: #ffffff;
  text-align: left;
  margin: 0;
  list-style-type: none;
  display: grid;
  gap: 25px;
  padding: 23px 20px;


  @media (min-width: $tablet-width) {
    padding: 0;
    grid-area: 2/1/3/4;
    display: flex;
    justify-content: center;
  }
}

.advantages__photo {
  width: 100%;
  height: 260px;
  object-fit: cover;

  &--city {
    @media (min-width: $tablet-width) {
      grid-area: 1/2/2/4;
      height: 256px;
      width: 512px;
    }

    @media (min-width: $desktop-width) {
      width: 800px;
    }
  }

  &--canyon {
    @media (min-width: $tablet-width) {
      width: 512px;
    }

    @media (min-width: $desktop-width) {
      width: 800px;
    }
  }
}


.advantages__item-wrapper-extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    min-height: 256px;
    padding: 33px;
  }

  @media (min-width: $desktop-width) {
    width: 256px;
    min-height: 256px;
    padding: 43px 28px 44px;
  }
}

