.advantages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
  }
}

.advantages__item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &--first {
    grid-column: 1/4;
    grid-row: 1/3;
  }

  &--second {
    grid-column: 1/4;
    grid-row: 3/4;

    @media (min-width: $tablet-width) {
      height: 256px;
    }
  }

  &--third {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  &--fourth {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  &--fifth {
    grid-column: 3/4;
    grid-row: 4/5;
  }

  &:first-child {
    padding-top: 22px;

    &::before {
      position: absolute;
      content: url("../../img/white-copy2.svg");
      left: 0;
      top: -13px;
    }
  }

  &--grey {
    background-color: #eeeeee;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;

    &:first-child {
      padding-top: 0;
    }

    &:first-child::before {
      display: none;
    }
  }
}

.advantages__index {
  background-color: #81b3d2;


  &:first-child .advantages__index__description {
    padding-bottom: 39px;

    @media (min-width: $tablet-width) {
      padding-bottom: 30px;
    }
  }

  &:first-child .advantages__index__title {
    padding: 34px 8px 0;
    margin-bottom: 11px;

    @media (min-width: $tablet-width) {
      margin-bottom: 13px;
      padding: 53px 23px 0;
    }
  }
}

.advantages__number {
  margin: 0 0 17px;
  text-align: center;

  &--color {
    color: #ffffff;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.advantages__index__picture-wrapper {
  @media (min-width: $tablet-width) {
    width: 512px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.advantages__index__wrapper {
  display: flex;
  flex-direction: column;
  width: 289px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 256px;

    &--change-block {
      order: 2;
    }
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.advantages__index__title {
  position: relative;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding: 38px 8px 11px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding: 53px 23px 0;
    margin-bottom: 13px;
  }
}

.advantages__index__description {
  margin: 0;
  padding: 0 0px 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    padding-bottom: 30px;
  }
}

.advantages__photo {
  max-width: 100%;
  object-fit: contain;
  display: block;
  width: auto;
  height: auto;

  &--city {
    @media (min-width: $tablet-width) {
      width: 512px;
      height: 256px;
      object-fit: cover;
    }
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }

  &--canyon {
    @media (min-width: $tablet-width) {
      width: 512px;
      height: 256px;
      object-fit: cover;
    }

    @media (min-width: $desktop-width) {
      width: 800px;
    }
  }
}

.advantages__sublist {
  list-style: none;
  margin: 0;
  background-color: #ffffff;
  padding: 23px 18px 46px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding: 0;
    flex-direction: row;
  }
}

.advantages__subitem:not(:last-child) {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.advantages__subtitle {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 15px;

  &--icon-house::after {
    content: "";
    position: absolute;
    background-image: url("../../img/icon-house-mob.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -45px;
    top: 1px;

    @media (min-width: $tablet-width) {
      width: 77px;
      height: 72px;
      background-image: url("../../img/icon-house-tabl.svg");
      top: 60px;
      left: 66px;
    }

    @media (min-width: $desktop-width) {
      width: 80px;
      height: 72px;
      top: 69px;
      left: 136px;
      background-image: url("../../img/icon-house-desk.svg");
    }
  }

  &--icon-burger::after {
    content: "";
    position: absolute;
    background-image: url("../../img/icon-burger-mob.svg.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -46px;
    top: 2px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 68px;
      top: 62px;
      left: 64px;
      background-image: url("../../img/icon-burger-tablet.svg");
    }

    @media (min-width: $desktop-width) {
      width: 73px;
      height: 69px;
      top: 73px;
      left: 138px;
      background-image: url("../../img/icon-burger-desk.svg");
    }
  }

  &--icon-present::after {
    content: "";
    position: absolute;
    background-image: url("../../img/icon-gift-mob.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -42px;
    top: 0;

    @media (min-width: $tablet-width) {
      width: 67px;
      height: 75px;
      top: 64px;
      left: 75px;
      background-image: url("../../img/icon-gift-tabl.svg");
    }

    @media (min-width: $desktop-width) {
      width: 77px;
      height: 75px;
      top: 69px;
      left: 136px;
      background-image: url("../../img/icon-gift-desk.svg");
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding-top: 158px;
    padding-bottom: 23px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 170px;
  }
}

.advantages__subitem-white {
  padding-left: 47px;

  @media (min-width: $tablet-width) {
    width: 256px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding-left: 0;
  }
}

.advantages__subdescription {
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.advantages__item-wrapper-extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 26px 20px 25px;
  width: 289px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 256px;
    min-height: 256px;
    padding: 47px 28px 44px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding: 63px 28px 44px;
    justify-content: flex-start;

    &--add {
      padding-top:52px;
    }
  }
}

.advantages__title-feature {
  position: relative;
  margin: 0 0 11px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  @media (min-width:$desktop-width) {
  }
}

.advantages__description-feature {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__module {
  @media (min-width: $tablet-width) {
    padding: 0 23px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 23px 69px;
  }
}
