.advantages {
  @media (min-width: $tablet-width) {
    width: 768px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__item {
  background-color: $basic-blue;
  color: $basic-white;


  &--white {
    background-color: #ffffff;
    color: #000000;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 0;
      align-items: center;
      text-align: center;
    }
  }


  &--grey {
    background-color: #eeeeeeee;
    color: #000000;
    padding: 24px 18px 24px 18px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
  }
}

.advantages__item--first {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-area: 1/1/2/4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-width: 768px;
  }
}

.advantages__item--second {
  @media (min-width: $tablet-width) {
    grid-area: 2/1/3/4;
    display: flex;
    flex-direction: row-reverse;
    min-width: 768px;
  }
}

.advantages__module {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  min-width: 240px;
  margin: 0 auto;
  background-color: #ffffff;
}

.advantages__wrapper {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    min-width: 256px;
    max-width: 400px;
  }
}

.advantages__item-wrapper {
  width: 289px;
  padding: 39px 16px 35px 15px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    min-width: 256px;
    max-width: 400px;
  }
}


.advantages__title {
  margin: 0;
  font-family: $accent-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__number,
.advantages__description {
  margin: 0;
  font-family: $accent-font;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.advantages__sublist {
  background-color: #ffffff;
  text-align: left;
  margin: 0;
  list-style-type: none;
  padding: 23px 18px 52px 18px;

  @media (min-width: $tablet-width) {
    grid-area: 2/1/3/4;
    display: flex;
    justify-content: center;
  }
}

.advantages__photo-city {
  @media (min-width: $tablet-width) {
    grid-area: 1/2/2/4;
  }
}
