.breaker {
  display: none;

  &--mob {
    display: inline;
  }

  &--tab {
    @media (min-width: $tablet-width) {
      display: inline;
    }

    @media (min-width: 1200px) {
      display: none;
    }
  }

  &--desk {
    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: 1200px) {
      display: inline;
    }
  }

  &--all {
    @media (min-width: $tablet-width) {
      display: inline;
    }

    @media (min-width: 1200px) {
      display: inline;
    }
  }
}
