.button {
  height: 58px;
  color: #ffffff;
  background-color: #81b3d2;
  font-family: $accent-font;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}
