.card-block {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 9px 20px;
  border-top: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-top: none;

    &--one {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }
}

.card-block__img-link {
  display: block;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  color: #000000;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.card-block__img {
  display: block;
  width: 100%;
  height: 280px;
  background-color: #eeeeee;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 267px;
  }
}

.card-block--one .card-block__img {
  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.card-block__wrapper {
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    padding: 22px 20px 15px;
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 22px 20px 15px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.card-block__title {
  margin: 0;
  font-family: $accent-font;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  padding-top: 4px;

  @media (min-width: $desktop-width) {
    padding-top: 0;
    color: #ffffff;
  }
}

.card-block__author {
  margin: 0;
  padding-top: 1px;
  margin-bottom: 11px;
  font-family: $accent-font;
  font-weight: 400;
}

.card-block__wrapper-like {
  display: flex;
  flex-direction: row;
  margin-top: 9px;
}

.card-block__like-button {
  display: flex;
  align-items: baseline;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 2px;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.card-block__like-icon {
  margin-right: 10px;
  fill: rgba(0, 0, 0, 0.3);

  @media (min-width: $desktop-width) {
    fill: #ffffff;
  }
}

.card-block__like-count {
  margin: 0;
  font-family: $accent-font;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-top: 3px;
  padding-bottom: 22px;
}
