.copyright {
  margin-bottom: 22px;
}

.copyright__text {
  width: 121px;
  text-align: center;
  font-family: $accent-font;
  color: #000000;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.copyright__link {
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover .copyright__text,
  &:hover .copyright__icon {
    color: #81b3d2;
  }

  &:active .copyright__text,
  &:active .copyright__icon {
    color: #b3b3b3;
  }
}

.copyright__icon {
  color: #000000;
}

