.copyright {
  display: flex;
}

.copyright__text {
  width: 121px;
  text-align: center;
  font-family: $accent-font;
  color: #000000;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}
