.feedback {
  padding: 102px 60px 64px 60px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 648px;
  }
}


.feedback-form__title {
  margin: 0;
  font-family: $accent-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.feedback-form__module {
  border-top: 1px solid #e5e5e5;
  padding-top: 24px;
}

.feedback-form__fieldset {
  margin: 0;
  margin-bottom: 34px;
  border: none;
}

.feedback-form__wrapper {
  display: flex;
  flex-direction: column;
}

.feedback-form__field-group {
  display: flex;
  flex-direction: column;
}

.feedback-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.feedback-form__button {
  width: 281px;
}
