.feedback {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 38px 20px 0;
}

.feedback__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width){
    margin-bottom: 29px;
  }
}

.feedback__title {
  margin: 0;
  font-family: $accent-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px 22px;


  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding: 26px 20px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 75px 20px 30px;
  }
}

.feedback__subtitle {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 29px;
  font-family: $accent-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;

  @media (min-width: $tablet-width) {
    line-height: 24px;
    padding: 0 20px 0;
  }
}

.feedback-form__group {
  position: relative;
  margin: 0 auto;
  border: 0 none;

  &--who {
    padding: 0 0 39px 0;
  }

  &--contacts {
    padding: 0 0 34px 0;
  }

  &--impression {
    padding: 0 0 23px 0;
    grid-column: 1/-1;
  }

  &--attractions {
    padding: 0 0 23px 0;
    grid-column: 1/-1;
  }

  &--feelings {
    padding: 0 0 14px 0;
    grid-column: 1/-1;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;

    &--who::before {
      position: absolute;
      content: "";
      right: -44px;
      top: -54px;
      bottom: 0;
      width: 1px;
      height: calc(100% + 29px);
      background-color: #dbdbdb;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;


    &--who {
      &::before {
        right: -64px;
      }
    }
  }
}


.feedback-form__group .feedback-form__title {
  margin: 0 0 19px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding: 25px 0 0 0;
  word-break: break-word;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding-top: 74px;
    margin-bottom: 27px;

    &--who {
      margin-left: 21px;
    }

    &--contacts {
      margin-left: -18px;
    }

    &--attractions {
      padding-top: 24px;
      margin-bottom: 28px;
    }
  }

  @media (min-width: $tablet-width) {
    &--impression,
    &--attractions,
    &--feelings {
      padding-left: 133px;
      padding-right: 133px;
      width: 648px;
      position: relative;
    }

    &--impression {
      padding-top: 24px;
      &::before,
        &::after {
          top: 36px;
        }
    }

    &--attractions {
      padding-top: 24px;
      margin-bottom: 28px;

      &::before,
      &::after {
        top: 49px;
      }
    }

    &--feelings {
      padding-top: 18px;
      margin-bottom: 28px;

      &::before,
      &::after {
        top: 30px;
      }
    }
  }


  @media (min-width: $desktop-width) {
    padding-top: 37px;

    &--attractions {
      padding-top: 50px;
      margin-bottom: 58px;
      &::before,
        &::after {
          top: 74px;
        }
    }

    &--feelings {
      padding-top: 63px;

      &::before,
      &::after {
        top: 74px;
      }
    }


    &--impression,
    &--attractions,
    &--feelings {
      padding-left: 290px;
      padding-right: 290px;
      width: 960px;
    }

    &--contacts {
      margin-left: -32px;
    }

    &--impression {
      padding-top: 32px;
      margin-bottom: 44px;

      &::before,
      &::after {
        top: 44px;
      }
    }


    &--who {
      margin-left: 32px;
    }
  }
}

.feedback-form__group .feedback-form__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 280px;
  grid-row-gap: 15px;

  &--attractions {
    grid-template-rows: repeat(4, 47px);
    padding-top: 1px;

    @media (min-width: $tablet-width) {
      grid-template-columns: 224px 224px;
      grid-template-rows: repeat(2, 47px);
      grid-column-gap: 32px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: auto auto auto auto;
      grid-template-rows: 47px;
      grid-column-gap: 64px;
    }
  }

  &--impression {
    grid-template-rows: repeat(3, 47px);
    padding-top: 1px;

    @media (min-width: $tablet-width) {
      grid-template-columns: 280px 280px;
      grid-template-rows: repeat(2, 47px);
      grid-column-gap: 16px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 280px 280px 280px;
      grid-template-rows: 47px;
      grid-column-gap: 28px;
      margin-left: 41px;
    }
  }

  &--contacts {
    @media (min-width: $desktop-width) {
      grid-template-columns: 402px;

      .feedback-form__field-item {
        grid-template-columns: 402px;
      }
    }
  }

  &--who {
    grid-template-rows: repeat(3, 80px);

    @media (min-width: $desktop-width) {
      grid-template-columns: 430px;

      .feedback-form__field-item {
        grid-template-columns: 430px;
      }
    }
  }

  &--contacts {
    grid-template-rows: repeat(2, 80px);
  }
}

.feedback-form__group .feedback-form__field-item {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: 21px 58px;
}

.feedback-form__group .feedback-form__control-item {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 46px;
  align-items: center;
}

.feedback-form__group .feedback-form__feelings-wrapper {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: auto 58px 24px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 324px 192px;
    grid-template-rows: auto 58px;
    grid-column-gap: 132px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 384px 228px;
    grid-column-gap: 156px;
  }
}

.feedback-form__group .feedback-form__textarea {
  margin-bottom: 56px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    margin-bottom: 48px;
  }
}
