/*.feedback {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 38px 20px 0;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 648px;
  }
}


.feedback-form__title {
  font-family: $accent-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 19px 0;
  color: #000000;
  padding: 25px 0 0 0;

  @media (min-width: $tablet-width) {
    padding-top: 74px;
    margin-bottom: 27px;
    font-size: 21px;
  }
}

.feedback-form__module {
  border-top: 1px solid #e5e5e5;
  padding-top: 24px;
}

.feedback-form__fieldset {
  margin: 0;
  margin-bottom: 34px;
  border: none;
  position: relative;
}

.feedback-form__wrapper {
  display: flex;
  flex-direction: column;

  &::after {
    position: absolute;
    content: "";
    left: -8px;
    bottom: 0;
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
    z-index: 3;
  }
}

.feedback-form__field-group {
  display: flex;
  flex-direction: column;
}

.feedback-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 280px;
  grid-row-gap: 15px;

  &--impressions {
    grid-template-rows: repeat(3, 47px);
    padding-top: 1px;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 280px 280px;
      grid-template-rows: repeat(2, 47px);
      grid-column-gap: 16px;
    }
  }

  &--attractions {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 280px 280px;
      grid-template-rows: repeat(2, 47px);
      grid-column-gap: 16px;
    }
  }
}

.feedback-form__button {
  width: 281px;
}

.feedback-form__item {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: 46px;
  align-items: center;
}*/

.feedback {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 38px 20px 0;
}

.feedback__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    margin-bottom: 29px;
  }
}

.feedback__title {
  margin: 0;
  font-family: $accent-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px 22px;

  @media (min-width: 768px) {
    font-size: 30px;
    padding: 26px 20px 20px;
  }
}

.feedback__subtitle {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 29px;
  font-family: $accent-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;

  @media (min-width: $tablet-width) {
    line-height: 24px;
    padding: 0 20px 0;
  }
}

.feedback-form__collumn {
  display: grid;


  @media (min-width: $tablet-width) {
    row-gap: 44px;
    margin-bottom: 32px;
    padding-bottom: 15px;
    grid-template-columns: repeat(2, 1fr);

  }
}
