.field-text {
  &--phone,
  &--email {
    position: relative;
  }

  &--phone::before,
  &--email::before {
    position: absolute;
    content: "";
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    right: 0;
    top: 21px;
    z-index: 1;
  }

  &--phone::after,
  &--email::after {
    position: absolute;
    content: "";
    z-index: 1;
  }

  &--phone::after {
    top: 41px;
    right: 20px;
    width: 18px;
    height: 18px;
    background-image: url("../../img/phone.svg.svg");
  }

  &--email::after {
    top: 44px;
    right: 21px;
    width: 16px;
    height: 12px;
    background-image: url("../../img/mail.svg.svg");
  }
}

.field-text__input {
  padding: 1px 0 0 12px;
  border: 4px solid transparent;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  font-family: $accent-font;

  &:hover {
    background-color: #e5e5e5;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:active,
  &:focus-visible {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
    outline: none;
  }
}

.field-text__label {
  padding-left: 16px;
  text-transform: uppercase;
}
