.input-block {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.input-block__title {
  font-family: $accent-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

.input-block__field {
  height: 58px;
  width: 280px;
  padding-left: 16px;
  background-color: #f2f2f2;
  border: none;
  font-family: $accent-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;

  &--comment {
    @media (min-width: $tablet-width) {
      width: 648px;
      height: 150px;
    }
  }
}
