.input-block {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;

  &--icon {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 16px;
      width: 58px;
      height: 58px;
      background-color: #e6e6e6;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 18px 18px;
      padding: 20px;
    }
  }

  &--telephone {
    &::before {
      background-image: url("../../img/phone.svg.svg");
    }
  }

  &--e-mail {
    &::before {
      background-image: url("../../img/mail.svg.svg");
    }
  }
}

.input-block__title {
  font-family: $accent-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

.input-block__field {
  height: 58px;
  width: 280px;
  padding-left: 16px;
  background-color: #f2f2f2;
  border: none;
  font-family: $accent-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;

  &--comment {
    @media (min-width: $tablet-width) {
      width: 648px;
      height: 150px;
    }
  }
}
