.main-navigation {
  align-self: center;
  position: absolute;
}

.main-navigation__wrapper {
  //display: none;
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-navigation__list {
  width: 320px;
  font-family: $accent-font;
}

.main-navigation__toggle {
  content: "";
  position: absolute;
  top: 17px;
  right: 21px;
  width: 23px;
  height: 21px;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
  border: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}
