.main-header {
  position: relative;
  min-height: 56px;
}

.main-header-logo-Sedona {
  position: relative;
  z-index: 2;
  width: 185px;
  outline: none;
  text-transform: uppercase;
  color: $basic-blue;
}


.main-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  @media (min-width: $tablet-width) {
    z-index: 3;
  }
}
