.main-footer__hashtag {
  margin-bottom: 33px;
}

.main-footer__link-hashtag {
  margin: 0;
  color: #000000;
  text-decoration: none;
  font-family: $accent-font;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.main-footer__wrapper {
  padding-top: 29px;
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
