.main-navigation {
  display: flex;
  justify-content: flex-end;
  min-height: 56px;
}

.main-navigation__list {
  font-family: $accent-font;
}

.main-navigation__toggle {
  display: block;
  background-color: transparent;
  margin: 14px 14px;
  z-index: 3;
  border: none;
  position: absolute;

  @media (min-width: 768px) {
    display: none;
  }
}

.main-navigation__icon {
  &--burger {
    fill: #81b3d2;
  }
}

@media (max-width: $mobile-width-only) {
  .main-navigation--closed .main-navigation__wrapper {
    display: none;
  }

  .main-navigation--closed .main-navigation__icon--burger {
    display: block;
  }

  .main-navigation--closed .main-navigation__icon--cross {
    display: none;
  }

  .main-navigation--opened .main-navigation__wrapper {
    position: absolute;
    display: block;
    width: 100%;
  }

  .main-navigation--opened .main-navigation__icon--burger {
    display: none;
  }

  .main-navigation--opened .main-navigation__icon--cross {
    display: block;
  }
}

.main-navigation--nojs .main-navigation__toggle {
  display: none;
}


.main-avigation--nojs .main-avigation__wrapper {
  position: static;
  display: block;
}


.main-navigation__wrapper {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 2;
}
