.modal__container {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}


.modal__container--open {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__wrapper-error {
  display: flex;
  flex-direction: column;
  width: 320px;
  position: relative;
  margin: auto;
  padding: 45px 41px 35px;
  background: #ffffff;

  @media (min-width: $tablet-width) {
    width: 400px;
    padding-top: 48px;
    padding-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 46px;
  }
}

.modal__title {
  font-family: $accent-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 25px 0;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.modal__subtitle {
  text-transform: uppercase;
  margin: 0 0 28px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}


.modal__wrapper-success {
  display: flex;
  flex-direction: column;
  width: 320px;
  position: relative;
  margin: auto;
  padding: 40px 20px 20px;
  background: #ffffff;

  @media (min-width: $tablet-width) {
    width: 640px;
    padding-top: 44px;
  }

  @media (min-width: $desktop-width) {
    width: 640px;
    padding-top: 42px;
  }
}

.modal__close-button {
  width: 180px;
  font-size: 18px;
  align-self: center;

  @media (min-width: $tablet-width) {
    width: 272px;
    font-size: 21px;
  }
}


.modal__title-success {
  text-transform: uppercase;
  color: #000000;
  font-family: $accent-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
  }
}

.modal__subtitle-success {
  text-transform: uppercase;
  padding: 25px 20px 50px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 13px;
    margin-bottom: 2px;
  }
}


.modal__button-success {
  width: 280px;
  font-size: 18px;
  align-self: center;

  @media (min-width: $tablet-width) {
    width: 458px;
    font-size: 21px;
  }
}
