.page-search {
  margin: 0;
  padding: 35px 18px 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 61px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 66px;
  }
}

.page-search__title {
  margin: 0;
  padding-bottom: 19px;
  font-family: $accent-font;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.page-search__subtitle {
  margin: 0;
  margin-bottom: 32px;
  font-family: $accent-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
  }
}

.page-search__button {
  width: 284px;

  @media (min-width: 768px) {
    width: 458px;
  }
}
