.social {
  @media (min-width: $tablet-width) {
    margin: 0 22px 0 0;
  }
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin-left: 52px;
    margin-right: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 57px;
  }
}

.social__item {
  margin-bottom: 6px;
}

.social__item:not(:last-child) {
  margin-right: 6px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  text-align: center;
  background-color: #81b3d2;

  &:active {
    background-color: #5496bd;

    .social__link-svg {
      opacity: 0.3;
    }
  }

  &:hover {
      background-color: #669ec0;
  }
}

.social__link-svg {
  fill: #ffffff;
}
