.video-presentation {
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-presentation__title {
  font-family: $accent-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 27px;
  margin-right: 27px;
}

.video-presentation__subtitle {
  font-family: $accent-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 27px;
  margin-right: 27px;
}

.video-presentation__video {
  padding-left: 20px;
  padding-right: 20px;
}
