.welcome__logo__index {
  background-image: url("../../img/intro-triangle.svg.svg"), url("../../img/back-mobile.jpg");
  background-color: rgb(129, 179, 210);
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  padding: 90px 19px 85px 19px;
  background-size: auto, cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/intro-triangle.svg.svg"), url("../../img/back-mobile.jpg@2x.jpg");
  }


  @media (min-width: $tablet-width) {
    background-image: url("../../img/intro-triangletab.svg"), url("../../img/back-tablet.jpg.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/intro-triangletab.svg"), url("../../img/back-tabl.jpg@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/intro-triangledesk.svg"), url("../../img/back-desktop-big.jpg.jpg");
    padding-top: 74px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/intro-triangledesk.svg"), url("../../img/back-desktop.jpg@2x.jpg");
    }
  }
}

.welcome__logo__catalog {
  background-image: url("../../img/intro-triangle.svg.svg"), url("../../img/backr-mob.cat.jpg.jpg");
  background-color: #81b3d2;
  background-position: center bottom;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  justify-content: center;
  background-size: auto, cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/intro-triangle.svg.svg"), url("../../img/backr-mob.jpg@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/intro-triangletab.svg"), url("../../img/backr-tabl.jpg.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/intro-triangletab.svg"), url("../../img/backr-tabl.jpg@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/intro-triangledesk.svg"), url("../../img/backr-desktop.jpg.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/intro-triangledesk.svg"), url("../../img/backr-desktop.jpg@2x.jpg");
    }
  }
}

.welcome__logo__block {
  padding-top: 49px;
  padding-bottom: 64px;

  @media (min-width: $tablet-width) {
    padding-top: 87px;
    padding-bottom: 117px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 97px;
    padding-bottom: 117px;
  }
}


.welcome__logo-image {
  display: block;
  margin: 0 auto;
}


.welcome__logo-form-banner {
  background-image: url("../../img/back-desktop.jpg");
  background-color: #000000;
}

.welcome__logo-form {
  padding-left: 50px;
}

.welcome__title {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 35px;
  color: #000000;
  font-family: $accent-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  width: 270px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding-top: 7px;
    padding-bottom: 28px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding-top: 32px;
  }
}

.welcome__title-catalog {
  margin: 0;
  font-family: $accent-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  padding: 38px 20px 25px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding: 28px 20px 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 20px 32px;
  }
}

.welcome__subtitle {
  margin: 0 auto;
  padding: 0 0 18px;
  padding-bottom: 32px;
  font-weight: 400;
  font-family: $accent-font;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  width: 285px;


  @media (min-width: $tablet-width) {
    line-height: 24px;
    padding-bottom: 55px;
    width: 520px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 43px;
  }
}

.welcome__subtitle-catalog {
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  margin: 0 auto;
  padding: 0;
  width: 285px;
  padding: 0 0 0;

  @media (min-width: $tablet-width) {
    padding: 0 18px 81px;
    width: 520px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 18px 89px;

  }
}

.welcome__wrapper {
  text-align: center;

  &--catalog {
    @media (min-width: $tablet-width) {

    }
  }
}


