@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.main-navigation {
  align-self: center;
}

/*.main-navigation__wrapper {
  display: none;
}*/
.main-navigation__list {
  width: 320px;
}

.main-navigation__toggle {
  content: "";
  position: absolute;
  top: 17px;
  right: 21px;
  width: 23px;
  height: 21px;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}

.main-header {
  width: 100%;
  justify-content: center;
}

.main-header__logo {
  padding-left: 70px;
  justify-self: center;
}

.welcome__logo {
  margin-bottom: 32px;
  padding: 90px 19px 85px 19px;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
}

.welcome__title {
  margin: 0;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.welcome__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.welcome__wrapper {
  padding: 36px 20px 28px 20px;
  text-align: center;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item {
  background-color: #80b2d1;
  color: white;
}
.advantages__item--white {
  background-color: #ffffff;
  color: #000000;
}
.advantages__item--grey {
  background-color: #eeeeeeee;
  color: #000000;
  padding: 24px 18px 24px 18px;
}

.advantages__module {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  min-width: 240px;
}

.advantages__wrapper {
  margin-bottom: 39px;
}

.advantages__item-wrapper {
  width: 289px;
  padding: 39px 16px 35px 15px;
  text-align: center;
}

.advantages__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__number,
.advantages__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.advantages__sublist {
  background-color: #ffffff;
  text-align: left;
  margin: 0;
  list-style-type: none;
  padding: 23px 18px 52px 18px;
}

.page-search {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.page-search__title {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.page-search__subtitle {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.page-search__button {
  width: 284px;
  max-height: 26px;
}

.main-footer__hashtag {
  margin-bottom: 33px;
}

.main-footer__link-hashtag {
  margin: 0;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.main-footer__wrapper {
  padding-top: 29px;
  padding-bottom: 23px;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 47px;
}

.social__item {
  width: 48px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
}

.copyright {
  display: flex;
}

.copyright__text {
  width: 121px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list__item {
  width: 320px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
  box-shadow: 0 2px 0 rgba(1, 1, 1, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.2);
}

.site-list__link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.feedback-form__title {
  padding-top: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.feedback-form__fieldset {
  margin: 0;
  border: none;
  padding: 24px 20px 39px 20px;
  border-top: 1px solid #e5e5e5;
}

.feedback-form__wrapper {
  display: flex;
  flex-direction: column;
}

.feedback-form__field-group {
  display: flex;
  flex-direction: column;
}

.feedback-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.feedback-form__button {
  width: 281px;
}

.input-block {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.input-block__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.input-block__field {
  height: 58px;
  width: 264px;
  padding-left: 16px;
  background-color: #f2f2f2;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.control-mark-block__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.button {
  height: 58px;
  color: #ffffff;
  background-color: #81b3d2;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.card-block {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 21px;
}

.card-block__like {
  order: 2;
  width: 69px;
  height: 26px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.card-block__wrapper {
  order: 1;
  display: flex;
  flex-direction: column;
}

.photo-gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.photo-gallery__item {
  padding: 24px 20px 25px 20px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.page {
  background: #e7e5e5;
}

.page__body {
  margin: 0 auto;
  width: 320px;
  background-color: #ffffff;
}
/*# sourceMappingURL=style.css.map */